Binaries
Development/Flash
Engine

Development/src/Tendrils.suo

UDKGame/*
!UDKGame/Config/
!UDKGame/Content/

UDKGame/Content/*
!UDKGame/Content/Maps
!UDKGame/Content/Tendrils

UDKGame/Content/Maps/*
!UDKGame/Content/Maps/tendrils

UDKGame/Config/*
!UDKGame/Config/Default*.ini
!UDKGame/Config/UDKInput.ini


.udkproj
.exe
