Binaries
Development/Flash
Engine

UDKGame/*
!UDKGame/Config/
!UDKGame/Content/

UDKGame/Content/*
!UDKGame/Content/Maps
!UDKGame/Content/Tendrils

UDKGame/Content/Maps/*
!UDKGame/Content/Maps/tendrils

UDKGame/Config/*
!UDKGame/Config/Default*.ini

.udkproj
.exe
